!!!5
html
  head
    meta("UTF-8")
    title= $title." - ".$company
  body
    header.container-fluid
      .row-fluid
        .span12
          h1 $company
    article.container-fluid= $content
    footer.container-fluid
      section.row-fluid
      .span8
      .span4 2013 &copy; $compay
